{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <a class="header" target="_blank" href="{{ path( 'app_catalog', { 'catalog_id': object.id }) }}">{{ object.name }}</a>
{% endblock %}