<!DOCTYPE html>
<html ng-app="ashley">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Ashely Store{% endblock %}</title>
        {% block stylesheets %}
            {#<link href="{{ asset('bundles/mint3dashboard/css/style.css') }}" rel="stylesheet" type="text/css" />#}
            <link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.0.0/semantic.min.css" rel="stylesheet" type="text/css" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="home">
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.0.0/semantic.min.js" type="text/javascript"></script>
            {#<script src="{{ asset('bundles/mint3dashboard/chosen/chosen.jquery.js') }}" type="text/javascript"></script>#}
        {% endblock %}
    </body>
</html>
