{% trans_default_domain 'Mint3DashboardBundle' %}

  <div class="row">

    <div class="column">
      <div class="ui vertical fluid menu">
        <div class="header item">
          {{ 'general.created'|trans }}
        </div>
        <div class="item">
          {{ entity.created|date('Y-m-d H:i:s') }}
        </div>
      </div>
    </div>

    <div class="column">
      <div class="ui vertical fluid menu">
        <div class="header item">
          {{ 'general.updated'|trans }}
        </div>
        <div class="item">
          {{ entity.updated|date('Y-m-d H:i:s') }}
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="column">
      <div class="ui vertical fluid menu">
        <div class="header item">
          {{ 'general.createdby'|trans }}
        </div>
        <div class="item">
          {{ entity.createdBy }}
        </div>
      </div>
    </div>

    <div class="column">
      <div class="ui vertical fluid menu">
        <div class="header item">
          {{ 'general.updatedby'|trans }}
        </div>
        <div class="item">
          {{ entity.updatedBy }}
        </div>
      </div>
    </div>

  </div>