{% trans_default_domain 'Mint3DashboardBundle' %}

<a href="{{ path( entity.routeName ~ '_show', { 'id': entity.id }) }}">

    <i class="large {{ entity.iconName }} icon"></i>

    {{ entity }}
    
</a>