{% trans_default_domain 'Mint3DashboardBundle' %}

<div class="ui center aligned one column grid">

    <div class="row">

        <div class="column">
          <div class="ui vertical fluid menu">
            <div class="item">
              
                <div class="ui blue button">
                    <a href="{{ path( path ) }}">
                        {{ 'general.backlist'|trans }}
                    </a>
                </div>

            </div>
          </div>
        </div>

    </div>

</div>