{% extends '::base.html.twig' %}

{% block body -%}

    <br>
    <br>

    {% embed "AppBundle:Base:title.html.twig" with { 'title': 'Ashley Store' } %} {% endembed %}

    <div style="margin: 3%">
        <div class="ui link cards">

            {% for entity in entities %}

                <div class="card">
                    <div class="image">
                        <img src="{{ entity.imageWebPath | imagine_filter('prodlist') }}">
                    </div>
                    <div class="content">
                        <div class="header">{{ entity.name }}</div>
                        <div class="meta">
                            <a>ID {{ entity.id }}</a>
                        </div>
                        <div class="description">
                            {{ entity.description }}
                        </div>
                    </div>
                    <div class="extra content">
          <span class="right floated">
            Q{{ entity.price|number_format(2, '.', ',') }}
          </span>
          <span>
            <i class="user icon"></i>
              {{ entity.quantity|number_format(0, '.', ',') }}
          </span>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}